@font-face {
  font-family: "iconfont"; /* Project id 3818716 */
  src: url("//at.alicdn.com/t/c/font_3818716_n65u3eqa33i.woff2?t=1671083320317")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3818716_n65u3eqa33i.woff?t=1671083320317")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3818716_n65u3eqa33i.ttf?t=1671083320317")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font-cart:before {
  content: "\e63e";
}

.icon-font-warning:before {
  content: "\e66b";
}

.icon-font-qiandao:before {
  content: "\e64c";
}

.icon-font-camera1:before {
  content: "\e614";
}

.icon-font-backward-a-r:before {
  content: "\e639";
}

.icon-font-step-3:before {
  content: "\e63b";
}

.icon-font-step-2:before {
  content: "\e63c";
}

.icon-font-step-1:before {
  content: "\e63d";
}

.icon-font-weixin:before {
  content: "\e637";
}

.icon-font-pyq:before {
  content: "\fae5";
}

.icon-font-share:before {
  content: "\e609";
}

.icon-font-share1:before {
  content: "\e60b";
}

.icon-font-notice:before {
  content: "\e611";
}

.icon-font-collection:before {
  content: "\e612";
}

.icon-font-praise:before {
  content: "\e613";
}

.icon-font-share-gray-copy:before {
  content: "\fae7";
}

.icon-font-nan:before {
  content: "\e60f";
}

.icon-font-nv:before {
  content: "\e610";
}

.icon-font-shaixuan:before {
  content: "\e6a6";
}

.icon-font-arrow-right-1:before {
  content: "\fae6";
}

.icon-font-active-13:before {
  content: "\e60e";
}

.icon-font-inactive-11:before {
  content: "\e60a";
}

.icon-font-inactive-13:before {
  content: "\e60c";
}

.icon-font-active-11:before {
  content: "\e60d";
}

.icon-font-edit-1:before {
  content: "\e605";
}

.icon-font-close:before {
  content: "\e606";
}

.icon-font-save:before {
  content: "\e607";
}

.icon-font-camera:before {
  content: "\e608";
}

.icon-font-info:before {
  content: "\e604";
}
